body {
 color: rgb(207, 44, 66);
 background:black;
 font-family: "Audiowide", sans-serif;
 background-image: url("dodge.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
header{
   border-bottom:solid 2px white;
}

.chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
}

.vision {
   display: flex;
   justify-content: center;
}
.gran-turismo{   
  display: flex;
  justify-content:center;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
   opacity: 0.5;
}

.categoria-videos img:hover {
   opacity: 1.0;
   border: 1px solid  white;
}
 .categoria h2 {
   color: aliceblue;
 }



