body {
 color: rgb(255, 255, 255);
 background:black;
 font-family: "Audiowide", sans-serif;
 background-image: url("bruh.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}
header{
   border-bottom:solid 2px white;
}

.chamada {
    background: rgb(184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    background: linear-gradient(to right, 
    #ff0000, /* Vermelho */ 
    #ff7f00, /* Laranja */ 
    #ffff00, /* Amarelo */ 
    #00ff00, /* Verde */ 
    #0000ff, /* Azul */ 
    #4b0082, /* Anil */ 
    #9400d3  /* Violeta */
  );
  background-clip: text;
  color: transparent;
    font-size: 40px;
    font-weight: bold;
  letter-spacing: 2px;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
}

.vision {
   display: flex;
   justify-content: left;
}
.gran-turismo{   
  display: flex;
  justify-content: left;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
     background: linear-gradient(to right, 
    #ff0000, /* Vermelho */ 
    #ff7f00, /* Laranja */ 
    #ffff00, /* Amarelo */ 
    #00ff00, /* Verde */ 
    #0000ff, /* Azul */ 
    #4b0082, /* Anil */ 
    #9400d3  /* Violeta */
  );
  background-clip: text;
  color: transparent;
    padding-left: 20px;
    padding-right: 20px;
}

.categoria-videos img {
   opacity: 0.5;
}

.categoria-videos img:hover {
   opacity: 1.0;
   border: 1px solid  white;
}
 .categoria h2 {
   color: aliceblue;
 }

